/WarriorWorld/obj
/WarriorWorld/bin
/.vs/WarriorWorld/DesignTimeBuild/.dtbcache
/.vs/WarriorWorld/v16/.suo
/.vs/WarriorWorld/v16/Server/sqlite3/db.lock
/.vs/WarriorWorld/v16/Server/sqlite3/storage.ide
